# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
sysinfo.txt
*.pidb.meta
/Assets/Generated/
Generated.meta

MultiNodeRendering_Data/
*.exe
*.pdb


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

